.file-uploader {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 90%;
  border: 2px dashed #e6e6e6;
  text-align: center;
  padding: 10px;
  margin: 5px auto auto;
}

.webuploader {
  text-align: center;
  width: 90px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
  font-size: 14px;
  background: rgb(32, 158, 255);
  border-radius: 3px;
  line-height: 25px;
  margin: 5px auto auto;
}

.parameter-settings {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 10px auto;
  width: 90%;
}

input {
  box-shadow: 0 7px 25px rgb(0 0 0 / 8%);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.15em;
  height: 25px;
}

#message {
  color: blue;
}

button {
  background-color: rgb(32, 158, 255);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
}

label {
  font-size: 14px;
}

.venntooltip {
  position: absolute;
  text-align: center;
  width: 128px;
  height: 16px;
  background: #333;
  color: #ddd;
  padding: 2px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
}